.simpleHeader{
    height: 10vh;
    width: 100%;
    justify-content: left;
    align-items: center;
    background-color: white;
}

.imgLogoSimpleHeader{
    margin-left: 6vw;
    margin-top: 2vh;
    width: 15vw;
    align-self: center;
    cursor: pointer;
}