*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.loginBody{
    background: linear-gradient(to bottom, rgba(181, 182, 242, 1), rgba(239, 239, 255, 1));
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sapato1LoginBody{
    position: absolute;
    margin-left: 50vw;
    margin-top: 5vh;
}

.sapato2LoginBody{
    position: absolute;
    margin-left: 70vw;
    margin-top: 25vh;
}